@import '../../index.scss';

.column {
	margin: 10px;
	padding: $pagePadding;

	min-width: 200px;
	max-height: calc(100% - 10px);

	border: 0 solid;
	border-radius: $pageBorderRadius;

	background-color: #bcbcbc;
	display: flex;
	flex-direction: column;
}

.columnHeader{
	padding: 3px 0;
	display: flex;
	justify-content: space-between;
	text-align: start;
	margin-bottom: $pagePadding;
}

.columnContent {
	max-height: 100%;
	overflow-y: auto;
}

.columnFooter {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.addSVG {
	width: 17px;
}

.ColumnMenu{
	transform: rotate(90deg);
	height: 20px;
}