@import '../../index.scss';


.card {
	width: 100%;

	border: 0 solid;
	border-radius: $pageBorderRadius;

	margin: $pagePadding 0 $pagePadding 0;

	background-color: white;
}

.cardContent {
	padding: $pagePadding;

	display: flex;
	justify-content: space-between;
}

.removeSVG {
	width: 17px;
	cursor: pointer;
	transform: rotate(45deg);
}